.buttons_container {
  display: flex;
  gap: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.button {
  border-radius: 50%;
  cursor: pointer;
}

.emoji {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
