.buttons_container {
  display: flex;
  gap: 20px;
  padding-top: 10px;
}

.button {
  cursor: pointer;
  border-radius: 50%;
  border-color: blue;
  background-color: blue;
}

.emoji {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
